@charset "UTF-8";

body {
    height: auto;
}

.border,
a[href="/login"] {
    display: none;
}

form {
    width: 450px;
    height: 300px;
    border-radius: 8px;
    background-color: rgba(19, 74, 126, 0.55);
    margin: 150px auto 0 auto;
    padding: 40px;
}

.flex-outer {
    padding: 0;
    margin: 0;
}

.flex-outer li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

label {
    font-size: 1em;
}

input {
    border-radius: 5px;
    border: 1px solid #8f8e8e;
    height: 30px;
    outline: none;
    padding: 0 8px;
}

#group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto;
}

#inputUsername,
#inputPwd {
    width: 200px;
}

.password-container {
    position: relative;

}

.password-container #eye {
    position: absolute;
    right: 0; /* Positionnez à droite */
    top: 50%; /* Centrez verticalement */
    transform: translateY(-50%); /* Ajustez pour l'alignement */
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

#ouvert-ferme {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#mdp {
    font-size: 1em;
    font-weight: normal;
    transition: none;
    text-decoration: underline;
}

button {
    border: 1px solid #8f8e8e;
}

#creationCompte {
    justify-content: center;
}

button[type="button"] {
    width: 300px;
    margin-top: 20px;
    padding: 10px 0;
    justify-content: center;
}

