<!DOCTYPE html>

<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-trocencheres(
		titrePage=~{:: title},
		contenuPage=~{:: main},
		ressourcesSupp=~{:: #ressources-css})}">

<head>
    <meta charset="UTF-8">
    <title data-th-text="#{login.title}"></title>
    <!-- Ajout de CSS demo-form.css -->
    <th:block id="ressources-css">
        <link rel="stylesheet" data-th-href="@{/css/login-form.css}" />
        <link rel="stylesheet" data-th-href="@{/css/login-error.css}" />
    </th:block>
</head>

<body>
    <main >

        <form th:action="@{/login}" method="post">
            <div class="cards" th:if="${param.error}" data-th-text="#{login.error}"></div>
            <div th:if="${param.logout}" data-th-text="#{login.logout}"></div>
            <ul  class="flex-outer">
                <li>
                    <label for="inputUsername" data-th-text="#{login.username}"></label>
                    <input id="inputUsername" type="text" name="username" />
                </li>
                <li>
                    <label for="inputPwd" data-th-text="#{login.pwd}"></label>
                    <input id="inputPwd" type="password" name="password" />
                </li>
                <div id="group">
                    <button type="submit" class="btn btn-light shadow" data-th-text="#{login.button}"></button>
                    <a id="mdp" class="nav-link active" aria-current="page" href="#">Mot de passe oublié</a>
                </div>
                <li>

                </li>
                <li id="creationCompte">
                    <button type="button" class="btn btn-light shadow">Créer un compte</button>
                </li>
            </ul>
        </form>

    </main>
</body>
</html>