<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-trocencheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}"
>


<title>Les objets sont nos amis - Inscription</title>

<body>
<main class="mainNouveauProfil">

    <h3>Modifier mon mot de passe</h3>

    <form id="formModifierMdp" class="formModifierMdp" data-th-action="@{/modifierMotDePasse}"
          data-th-object="${utilisateur}"
          method="post">
        <div data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"></div>

        <div class="modificationMotDePasse">
            <ul class="list-unstyled">
                <li class="row mb-3  justify-content-center">
                    <div class="col-12 col-md-6 d-flex align-items-center mb-2">
                        <label for="motDePasseActuel" class="form-label me-2">Mot de passe (*) :</label>
                        <input type="password" id="motDePasseActuel" class="form-control" title="Mot de passe"
                               placeholder="Mot de passe actuel (*)" required data-th-field="*{motDePasse}"/>
                    </div>
                    <!-- TODO AJOUTER UN CONTROLE D'ERREUR-->
                    <div data-th-if="${#fields.hasErrors('motDePasse')}"
                         data-th-each="err : ${#fields.errors('motDePasse')}" data-th-text="${err}"
                         class="messageValidation error"></div>
                </li>

                <li class="row mb-3  justify-content-center">
                    <div class="col-12 col-md-6 d-flex align-items-center mb-2">
                        <label for="motDePasse" class="form-label me-2">Nouveau mot de passe (*) :</label>
                        <input type="password" id="motDePasse" class="form-control" title="Mot de passe"
                               placeholder="Mot de passe (*)" required data-th-field="*{motDePasse}"/>
                    </div>
                    <!-- TODO VERIFIER LA PARTIE ERREUR-->
                    <div data-th-if="${#fields.hasErrors('motDePasse')}"
                         data-th-each="err : ${#fields.errors('motDePasse')}" data-th-text="${err}"
                         class="messageValidation error"></div>
                </li>

                <li class="row mb-3  justify-content-center">
                    <div class="col-12 col-md-6 d-flex align-items-center mb-2">
                        <label for="confirmationMdp" class="form-label me-2">Confirmation (*) :</label>
                        <input type="password" id="confirmationMdp" class="form-control" name="confirmationMdp"
                               title="Confirmation de mot de passe" placeholder="Confirmation" required/>
                    </div>
                </li>
            </ul>
        </div>

        <div id="messageValidation" class="messageValidation text-center mt-2"></div>

        <!-- Boutons de soumission -->
        <div class="btnFormModifierMdp row pt-3">
            <div class="col">
                <button type="submit" id="btnModifierMdp"
                        class="btn btnCreerProfil shadow p-3 mb-2 bg-body-tertiary rounded"
                        data-th-text="#{modifierMotDePasse.modifier}"
                        title="Bouton modifier le mot de passe">
                </button>
            </div>
            <div class="col">
                <a th:href="@{/profilUtilisateur}"
                   id="btnAnnulerModificationMdp"
                   class="btn btnAnnulerModifierMdp shadow mt-1 p-3 bg-body-tertiary rounded"
                   data-th-text="#{modifierMotDePasse.annuler}"
                   title="Bouton annuler modification mot de passe"></a>
            </div>
        </div>

    </form>

    <th:block th:src="@{/js/formInscription.js}">
        <script th:src="@{/js/formInscription.js}"></script>
    </th:block>


</main>

<footer>


</footer>

</body>

</html>