<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-trocencheres(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<title>Les objets sont nos amis - Inscription</title>

<main class="mainNouveauProfil">

    <h3>Nouveau Profil</h3>

    <form id="formSuscribe" class="formSuscribe" action="" method="post">
        <div class="inscription">

            <label for="pseudo"> Pseudo (*) : </label>
            <input type="text" id="pseudo" class="pseudo" name="pseudo" title="pseudo" placeholder="Pseudo" required>
            <label for="nom"> Nom (*) :</label>
            <input type="text" id="nom" class="nom" name="nom" title="Nom" placeholder="Nom" required>


            <label for="prenom"> Prénom (*) :</label>
            <input type="text" id="prenom" class="prenom" name="prenom" title="Prénom" placeholder="Prénom" required>
            <label for="nom"> Email (*) :</label>
            <input type="email" id="email" class="email" name="email" title="Email" placeholder="Email" required>

            <label for="telephone"> Téléphone :</label>
            <input type="text" id="telephone" class="telephone" name="telephone" placeholder="Téléphone" title="Téléphone">
            <span></span>
            <span></span>

            <label for="rue"> Adresse (*) :</label>
            <input type="text" id="rue" class="rue" name="rue" placeholder="Rue" title="Rue" required>
            <input type="number" id="codePostal" class="codePostal" name="codePostal" placeholder="Code Postal"
                   title="Code postal" required>
            <input type="text" id="ville" class="ville" name="ville" placeholder="Ville" title="Ville" required>

            <label for="motDePasse"> Mot de passe (*) : </label>
            <input type="password" id="motDePasse" class="motDePasse" name="motDePasse" title="Mot de passe"
                   placeholder="Mot de passe (*)" required>
            <label for="confirmationMdp"> Confirmation (*) : </label>
            <input type="password" id="confirmationMdp" class="confirmationMdp" name="confirmationMdp"
                   title="Confirmation de mot de passe" placeholder="Confirmation" required>
        </div>


        <div id="messageValidation" class="messageValidation text-center mt-2">
        </div>


        <div class="btnFormSuscribe row pt-3">
            <div class="col">
                <button type="button" id="btnCreerProfil"
                        class="btn btnCreerProfil shadow p-3 mb-2 bg-body-tertiary rounded"
                        title="Bouton créer le profil">Créer
                </button>
            </div>
            <div class="col">
                <button type="button" id="btnAnnulerProfil"
                        class="btn btnAnnulerProfil shadow p-3 mb-2 bg-body-tertiary rounded" title="Bouton annuler">
                    Annuler
                </button>
            </div>
        </div>

    </form>


</main>


</html>